<mat-card>
  <h1>
    Zeiteinträge
  </h1>
  <br>
  <p *ngIf="entries && entries.length <= 0">Es existieren noch keine Einträge</p>
  <mat-accordion *ngIf="entries">
    <mat-expansion-panel *ngFor="let entry of entries">

      <mat-expansion-panel-header>
        <mat-panel-title>
          {{entry.id}} - {{entry.category.name}}
        </mat-panel-title>
        <mat-panel-description>
          {{entry.checkIn | date: 'HH:mm'}}
          -
          {{entry.checkOut | date: 'HH:mm'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        ID: {{entry.id}}
      </p>
      <p>
        Start: {{entry.checkIn | date: 'dd.MM.yyyy HH:mm'}}
      </p>
      <p>
        Ende: {{entry.checkOut | date: 'dd.MM.yyyy HH:mm'}}
      </p>
      <p>
        Kategorie: {{entry.category.name}} ({{entry.category.id}})
      </p>
      <p>
        <button mat-button (click)="deleteEntry(entry)">Löschen</button>
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</mat-card>

<mat-card *ngIf="categories">
  <h1>Zeiteintrag erstellen</h1>
  <form #f3="ngForm" (ngSubmit)="saveEntry(f3)" [formGroup]="entryGroup" name="form">
    <mat-form-field appearance="fill" class="center-container">
      <mat-label>Kategorie</mat-label>
      <mat-select [(ngModel)]="this.entry.category" [(value)]="this.entry.category" formControlName="categories">
        <mat-option *ngFor="let category of categories" [value]="category">
          {{category.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Start</mat-label>
      <input required matInput type="datetime-local" [(ngModel)]="entry.checkIn"
             formControlName="checkIn">
    </mat-form-field>
    <br>
    <mat-form-field>
      <mat-label>Ende</mat-label>
      <input required matInput type="datetime-local" [(ngModel)]="entry.checkOut"
             formControlName="checkOut">
    </mat-form-field>
    <br>
    <button class="half login-button" [disabled]="!entryGroup.valid" mat-button name="submit" type="submit">Speichern
    </button>
  </form>
</mat-card>
