<div class="center one-page-card-container">
  <mat-card class="center one-page-card">
    <mat-card-content>
      <mat-card-header>
        <mat-card-title>
          <h2>
            Registrieren
          </h2>
        </mat-card-title>
      </mat-card-header>

      <div class="center">
        <form #f1="ngForm" (ngSubmit)="saveEntry(f1)" [formGroup]="group" name="form" novalidate>
          <mat-form-field>
            <mat-label>Benutzername</mat-label>
            <input matInput [(ngModel)]="user.username" formControlName="username">
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Passwort</mat-label>
            <input matInput type="password" [(ngModel)]="user.password" formControlName="password">
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Passwort wiederholen</mat-label>
            <input matInput type="password" [(ngModel)]="passwordRepeat" formControlName="passwordRepeat">
          </mat-form-field>
          <br>
          <mat-error *ngIf="message">
            <p>{{message}}</p>
            <p>{{group.errors}}</p>
          </mat-error>
          <button class="login-button" [disabled]="!group.valid" mat-button name="submit" type="submit">Anmelden
          </button>
        </form>
      </div>
    </mat-card-content>
  </mat-card>
</div>
